@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
.main{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;
}
.header{
  position:relative;
  overflow:hidden;
  /* display:flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); 
  backface-visibility: hidden;
  transform: scale(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url('https://top-barbershop.com/media/2017/05/Barber2vk-1800x1194.jpg') 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(0px)}
}